<p>test</p>
<ul>
  <li *ngFor="let item of items | async">
      {{ item.bedrooms | json }}
      <input type="text" #updatetext [value]="item.title" />
      <button (click)="updateItem(item.key, updatetext.value)">Update</button>
      <button (click)="deleteItem(item.key)">Delete</button>
  </li>
</ul>
<input type="text" #newitem />
<button (click)="addItem(newitem.value)">Add</button>
  
<div class="container" style="width:600px">
  <div>
    <h3>bezkoder.com</h3>
    <h4>{{ title }}</h4>
  </div>

  <div class="my3">
    <app-upload-form></app-upload-form>
  </div>

  <div class="my-2">
    <app-upload-list></app-upload-list>
  </div>
</div>

<router-outlet></router-outlet>